jendeley-backend/built-frontend
jendeley-backend/coverage
jendeley-backend/dist
jendeley-backend/edit_and_run.sh
jendeley-backend/node_modules
jendeley-backend/test_pdfs/jendeley_db.json
jendeley-frontend/build
jendeley-frontend/node_modules
