node_modules/*
coverage/*
src/*
*.json
*.log
./coverage/*
./arXivPDFs/*
edit_and_run.sh
check-version.sh
test_pdfs/*
.git/*
jest.config.js
.eslintrc
*.pdf
benchmark.folded
benchmark.perf
benchmark.svg
perf.data*
processed-isolate-*.txt
processed-isolate-*.txt
generated_DBs
